.wb-actionbar-buttoncontainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    flex-wrap: wrap;
}
.wb-actionbar-buttons{
    margin: 15px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background: white;
    color: #4B5665;
}